<!DOCTYPE html>
<html>
  <head>
    <script src="dist/app.js"></script>
    <link rel="stylesheet" href="dist/app.css" />
  </head>
  <body ng-app="nejs">
    <div ng-controller="Example1Controller as example1">
      <h1>NebraskaJS Presenters</h1>
      <button class="show" ng-click="example1.showPresenters()">Show Presenters</button>
      <div class="presenters">
        <div ng-repeat="presenter in example1.presenters">
          <nejs-presenter presenter="{{presenter}}">
        </div>
      </div>
    </div>
  </body>

</html>
