$page-width: 1000px;

@mixin center {
  margin: 0 auto;
}

@mixin circular-hover-effect {
  border-radius: 50%;
  transition: border-radius 0.3s;

  &:hover {
    border-radius: 10%;
  }
}


.presenters {
  @include center;
  max-width: $page-width;

  .presenter {
    display: inline-block;
    width: 200px;
  }
}

nejs-presenter {
  img {
    @include circular-hover-effect;
  }
}

.show {
  @include center;
  display: block;
}

